allow init self:capability sys_module;
allow init self:process execmem;
allow init kernel:system module_request;

allow init debugfs:dir mounton;

allow init block_device:blk_file write;
